@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Raleway'; 
}



html, body{
    margin: 0;
    background: #f2ffff;
    height: 100%;
    overflow-x: hidden;

   
}

  
.container{
    max-width: 800px;
    margin: auto;
    text-align: center;
    color: #114177;
    margin-top: 10%;
}

.titulo{
    background: #4dc493;
    font-size: 35px;
    transform: rotate(-1deg);
    
}

.titulo h1{
    transform: rotate(1deg);
}

.subtitulo{
    font-size: 30px;
    font-weight: bold;
}

.intro{
    font-size: 18px;
    font-style: italic;
    line-height: 30px;
}

.classificacao{
    background-color: #024532;
    font-size: 35px;
    padding: 15px;
    color: white;
}

.diagnostico, .tratamento, .prevencao, .bibliografia{
    background-color: #b1e8d0;
    font-size: 20px;
    padding: 15px 60px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.fila{
    display: flex;
    margin: 30px 0;
}

.fila .texto{
    background-color: #b1e8d0;
    width: 80%;
    padding: 0 40px;
    line-height: 30px;
}

.fila p{
    font-size: 20px;
}

.esquerda{
    text-align: left;
    padding-left: 20px;
}

.direita{
    text-align: right;
}

.fila .texto h2{
    font-size: 30px;
    color: #024532;
}

.fila .img{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fila .img img{
    position: relative;
    width: 200px;

}



@media (max-width: 480px) {
    .footer01 {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .icons {
        padding: 20px;
    }}


@media (max-width:600px){
    .container{
        margin-top: 30%;
        
        
    }

    .titulo{
        background: #4dc493;
        font-size: 20px;
        transform: rotate(-1deg);
        margin: 0 5%;
        
    }
    
    .titulo h1{
        transform: rotate(1deg);
    }
    
    .subtitulo{
        font-size: 20px;
        font-weight: bold;
    }
    
    .intro{
        font-size: 10px;
        font-style: italic;
        line-height: 20px;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 18px;
         

    }
    
    .classificacao{
        background-color: #024532;
        font-size: 20px;
        padding: 5px;
        color: white;
        margin: 0 10%;
        border-radius: 5px;
    }
    
    .diagnostico, .tratamento, .prevencao, .bibliografia{
        background-color: #b1e8d0;
        
        padding: 10px 30px;
        margin-top: 30px;
        margin-bottom: 30px; 
        font-size: 10px;
        margin: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
       
    
    }
    

    .fila{
        display: flex;
        /* flex-direction: column; */
        margin: 20px 5px;
        justify-content: center;
       
    }
    
    .fila .texto{
        background-color: #b1e8d0;
        width: 80%;
        padding: 0 30px;
        line-height: 20px;
    }
    
    .fila p{
        font-size: 10px;
    }
    
    .esquerda{
        text-align: left;
    }
    
    .direita{
        text-align: right;
    }
    
    .fila .texto h2{
        font-size: 15px;
        color: #024532;
    }
    
    .fila .img{
        width: 5%;
        display: flex;
        
    }
    
    .fila .img img{
        position: relative;
        width: 75px;
    
    }

    .efeito1{
         margin-left: 100px;
         margin-top: 40px;
        
    }
    
    .efeito2{
        margin-right: 60px;
    }
    
    .efeito3{
        margin-left: 60px;
        margin-top: 60px ;
    }
    
    .efeito4{
        margin-left: 40px;
    }
    
    .efeito5{
      margin-right: 45px;
    }
    
    .efeito6{
        margin-left: 60px;
        margin-top: 20px;
    }
    
    .efeito7{
        margin-left: 35px;
        
    }
    
    .efeito8{
        margin-right: 45px;
        margin-top: 40px;
        
    }
    
    .efeito9{
        margin-left: 60px;
        margin-top: 90px;
        
    }
    
    .efeito10{
        margin-left: 30px;
        margin-top: 70px;
    }
    
    .efeito11{
        margin-right: 60px;
        margin-top: 70px;
        
    }
    
    .efeito12{
        margin-left: 100px;
        margin-top: 60px;
        
    }
    
    
    .efeito13{
        margin-left: 70px;
        animation: girar 3s linear infinite;
    }
    
    .efeito14{
        margin-right: 50px;
        animation: efeito2 3s linear infinite;
    }
    
    .efeito15{
        
        margin-left: 20px;
        
    }
    
    .efeito16{
        
        margin-left: 40px;
        
    }
    
    @keyframes girar{
        0%{transform: rotate(0deg);}
        50%{transform: rotate(20deg);}
        100%{transform: rotate(0deg);}
    }
    
    @keyframes efeito2{
        0%{transform: scale(.9);}
        50%{transform: scale(1.1);}
        100%{transform: scale(.9);}
        
    }
    
    @keyframes bajar{
        0%{top: 0;}
        50%{top: 40px;}
        100%{top: 0;}
    }
    
}